body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.color_style {
    color: aquamarine;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: brown;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

.half-weith {
    width: 40%;
    float: left;
    margin-left: 45px;
}

.half-weith img {
    width: 100%;
    margin-left: 150px;
    margin-top: 40px;
}

.top-banner {
    border: 1px soli;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

section {
    height: 500px;
    padding-bottom: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.down-half-weith {
    width: 47%;
    float: left;
    margin-left: 40px;
}

.down-top-banner {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 30px;
    margin-right: 10px;
}

.down-link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, red, yellow);
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

.last-section {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box-class {
    box-shadow: 10px 20px 20px gray;
    border-radius: 5px;
    padding-right: 50px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#first-border {
    border-left: 7px solid;
    border-radius: 15px;
    border-image: linear-gradient(red, aquamarine);
    border-image-slice: 1;
    background-image: linear-gradient(gray, rgb(0, 255, 234));
}

#second-border {
    border-left: 7px solid;
    border-radius: 15px;
    border-image: linear-gradient(red, aquamarine);
    border-image-slice: 1;
    background-image: linear-gradient(gray, rgb(0, 255, 234));
}

footer {
    text-align: center;
}